REC_BASE_DIR = "/home/acedroidx/share/rec/21452505-七海Nana7mi"
ARCHIVE_BASE_DIR = "/home/acedroidx/disk/4T/录播"
CLOUD_FS = "od:"
CLOUD_BASE_DIR = "/Public/BilibiliRecorder/21452505-七海Nana7mi"
RCLONE_BASE_URL = "http://test:test@localhost:5572"
DAILY_UPLOAD_LIMIT = 50
ARCHIVE_THRESHOLD = 50
# 云存储最小剩余空间（GB），低于此值时停止上传，默认 20
MIN_REMOTE_FREE_SPACE = 20
# 是否启用云上传（默认 true）
ENABLE_CLOUD_UPLOAD = true
